@media (min-width: 320px) and (max-width: 767px) {
  body {
    background-color: #e4f3e5;
    margin: 0;
    font-family: "Times New Roman", Times, serif, Arial, Helvetica, sans-serif;
    color: #333;
  }
  .show {
    /* display: none; */
  }
  .two {
    /* background-color: red; */
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 50px;
  }
  nav {
    display: flex;
    width: 505px;
    height: 80px;
    color: white;
    background-color: #354a99;
    gap: 0px !important;
    padding: 0px 50px;
    justify-content: space-center;
  }
  nav img {
    height: 80px;
  }

  .nav-left {
    height: 80px;
    align-items: center;
    justify-content: center;
  }
  .nav-right {
    height: 80px;
    gap: 60px !important;
    align-items: center;
    justify-content: end;
    /* width: 500px; */
  }
  .bg-1 {
    display: grid;
    grid-template-rows: 1fr;
  }

  .bg-1-img img {
    background-color: #e18d1c;
    background-color: red;
    width: 910px;
    margin: 25px;
    margin-left: 25px;
    height: 500px;
  }
  .bg-1-text {
    width: 800px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* padding: 66px 56px; */
    background-color: #e18d1c;
    height: 234px;
    /* align-items: center; */
    margin: 0 25px;

    font-size: 40px;
  }
  .bg-1-text h1 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* padding: 0 90px; */
    margin-left: 75px;
    width: 50%;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: #e18d1c;
  }
  .bg-1-text p {
    font-size: 15px;
    color: white;
    /* padding: 0 80px; */
  }
  .com {
    margin-top: -55px;
  }
  .member {
    align-items: center;
    justify-content: center;
    display: flex;
    /* background-color: aquamarine; */
    height: 300px;
    width: 990px;
    flex-direction: column;
  }
  .members {
    margin-top: 40px;
  }

  .eazymoney {
    height: 500px;
    /* width: 500px; */
    /* background-color: red; */
    padding: 0 100px;
    display: grid;
    grid-template-rows: 1fr;
  }
  .eazyleft {
    height: 500px;
    width: 760px;
    margin-bottom: 50px;
    background-image: linear-gradient(
      to right,
      #6184c0,
      #6184c0,
      #6184c0,
      #74777b
    );
    color: white;
  }
  .eazyright {
    height: 500px;
    width: 760px;
    /* padding: 0 100px; */
  }
  .contact {
    height: 400px;
    margin-top: 579px;
    padding: 0 40px;
    width: 860px;
    margin-left: 20px;
  }
  .cont {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    width: 860px;
  }
  .one {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    border: 1px solid orange;
  }

  .review {
    /* background-color: #6184c0; */
    height: 200px;
    width: 900px;
    margin-left: 30px;
    display: grid;
    grid-template-rows: 1fr !important;
    margin-top: -60px !important;
  }

  .rev {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    margin-top: -230px;
    margin-bottom: 30px;
    margin-left: 70px;

    width: 900px;
  }
  .mark {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .red {
    background-color: #74777b;
    color: white;
    /* background-image: linear-gradient(to right, blue, gray); */
    height: 200px;
    width: 70%;
    border-radius: 20px;
    margin-left: 125px;

    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .foot {
    justify-content: space-around;
    background-color: #354a99;
    color: white;
    margin-top: 700px;
    width: 990px;
  }
  .col-one img {
    height: 150px;
    width: 150px;
    flex-direction: column;
    display: flex;
  }
  .col-one .logos {
    height: 50px;
  }
}
